<main class="flex flex-col items-center gap-10">
  <h1 class="font-bold text-3xl text-blue-800 text-center">Pagway Challenge</h1>
  <nav class="w-1/2">
    <ul class="flex justify-around">
      <li>
        <app-button
          class="bg-blue-700"
          routerLink="/nova-transacao"
          routerLinkActive="active"
        >
          Nova Transação
        </app-button>
      </li>
      <li>
        <app-button
          class="bg-green-600"
          routerLink="/transacoes"
          routerLinkActive="active"
        >
          Transações
        </app-button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>
