<div class="flex justify-between items-center px-6 mb-14">
  <div class="flex justify-center items-center gap-5">
    <label for="per-page" class="mb-2 text-sm font-medium text-gray-700">
      Qnt. por página:</label
    >
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      name="per-page"
      id="per-page"
      #select
      (change)="changePerPageQueryParameter(select.value)"
    >
      <option
        *ngFor="let perPageValue of perPageOptions"
        value="{{ perPageValue }}"
        [selected]="perPageValue === perPage"
      >
        {{ perPageValue }}
      </option>
    </select>
  </div>

  <nav>
    <ul class="flex items-center">
      <li>
        <a
          class="relative flex h-full items-center text-center py-1.5 px-1.5 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-700 hover:text-gray-700 hover:bg-gray-200 focus:shadow-none"
          tabindex="{{ paginateInfo?.prev ? 0 : -1 }}"
          [routerLink]="['/transacoes']"
          [queryParams]="{ page: paginateInfo?.prev }"
          queryParamsHandling="merge"
        >
          <ng-icon
            name="MatChevronLeft"
            size="20"
            class="text-center"
          ></ng-icon>
        </a>
      </li>

      <li *ngIf="shouldRenderFirstButton">
        <a
          class="relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-700 hover:text-gray-700 hover:bg-gray-200 focus:shadow-none"
          [routerLink]="['/transacoes']"
          [queryParams]="{ page: paginateInfo?.first }"
          queryParamsHandling="merge"
          >{{ paginateInfo?.first }}</a
        >
      </li>
      <li *ngIf="shouldRenderFirstButton">
        <span
          class="relative block py-1.5 px-3 border-0 bg-transparent outline-none rounded text-gray-700"
          >...</span
        >
      </li>
      <li *ngFor="let pNumber of pages">
        <a
          [class]="
            cs(
              'relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-700 hover:text-gray-700 hover:bg-gray-200 focus:shadow-none',
              pageNumber === pNumber &&
                'bg-blue-600 text-white hover:text-white hover:bg-blue-600 shadow-md'
            )
          "
          [routerLink]="['/transacoes']"
          [queryParams]="{ page: pNumber }"
          queryParamsHandling="merge"
          >{{ pNumber }}</a
        >
      </li>
      <li *ngIf="shouldRenderLastButton">
        <span
          class="relative block py-1.5 px-3 border-0 bg-transparent outline-none rounded text-gray-700"
          >...</span
        >
      </li>
      <li *ngIf="shouldRenderLastButton">
        <a
          class="relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-700 hover:text-gray-700 hover:bg-gray-200 focus:shadow-none"
          [routerLink]="['/transacoes']"
          [queryParams]="{ page: paginateInfo?.last }"
          queryParamsHandling="merge"
          >{{ paginateInfo?.last }}</a
        >
      </li>
      <li>
        <a
          class="relative flex h-full items-center py-1.5 px-1.5 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-700 hover:text-gray-700 hover:bg-gray-200 focus:shadow-none"
          [routerLink]="['/transacoes']"
          [queryParams]="{ page: paginateInfo?.next }"
          queryParamsHandling="merge"
          ><ng-icon name="MatChevronRight" size="20"></ng-icon
        ></a>
      </li>
    </ul>
  </nav>
</div>
